@import url(normalize.min.css);
@import url(reset.css);

:root {
    --body-ff:'MinSans-Regular';
    --body-fz:1rem;
    --line-height:28px;
    --primary-c :#1a9f95;
    --secondary-c: rgba(1,175,149,0.5);
    --primary_bg:#e0e0e0;
    --white : #fff;
    --black: #000;
    --body-tc:#494646;
    --con-width : 1296px;
}
/*
typopgraphy
*/
body{
    font-family: var(--body-ff);
    font-size: var(--body-fz);
    line-height: var(--line-height);
    font-weight: 400;
    color: var(--body-tc);
}
.main_tt{
    font-size: calc(var(--body-fz)*3);
    font-weight: 800;
    line-height: calc(var(--line-height)*2);
    text-transform: uppercase;
    text-align: center;
}
.main_sm_tt{
    font-size: calc(var(--body-fz)*2.5);
    font-weight: 500;
    line-height: calc(var(--line-height)*2);
}
.slide_tt{
    font-size: calc(var(--body-fz)*3);
    font-weight: 500;
    line-height: calc(var(--line-height)*2);
}
.content_tt{
    font-size:calc(var(--body-fz)*1.6875);
    font-weight: 500;
    line-height: var(--line-height);
}
.content_desc{
    font-size: calc(var(--body-fz)*1.25);
    font-weight: 400;
    line-height: var(--line-height);
}
.small_tt{
    font-weight: 100;
}
em{
    color: var(--primary-c);
}
.primary_bg{
    background-color: var(--primary_bg);
}
.secondary_color{
    color: var(--secondary-c);
}
.w_color{
    color:var(--white);
}
.btn{
    border-radius:22px;
    display: inline-block;
    vertical-align: bottom;
    width: 170px;
    height: 44px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    background: var(--white);
    border: 2px solid var(--white);
}
.btn span:first-child{
    display: inline-block;
    font-size: calc(var(--body-fz)*2);
    line-height: 42px;
    transition: 0.3s;
}
.btn:hover span:first-child{
    transform: rotate(45deg);
}
.btn span:nth-child(2){
    line-height: 42px;
    position: absolute;
    margin-left: 10px;
}
.btn:hover span{
    color: var(--primary-c);
}

/*
LAYOUT
*/
.container{
    width: var(--con-width);
    margin:0 auto;
}
.hidden {
    display: none;
}
.con_pd{
    padding: calc(var(--line-height)*5) 0;
}
.con_top_pd{
    padding-top: calc(var(--line-height)*5);
}
header{
    position: absolute;
    z-index:1;
    left: 0;
    right: 0;
    height: calc(var(--line-height)*4);
    box-sizing: border-box;
    transition:0.3s;
    overflow: hidden;
}
header:hover{
    background: rgba(0, 0, 0, 0.8);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav > .main_menu{
    display: flex;
    width: 775px;
}
header nav > .main_menu > li{
    position: relative;
    line-height: calc(var(--line-height)*4);
    padding: 0 35px;
    text-transform: uppercase;
}
header nav > .main_menu > li > a{
    padding: calc(var(--line-height)*2) 0;
}
header nav > .main_menu > li ul{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
header nav > .main_menu > li ul li{
    white-space: nowrap;
    line-height: calc(var(--line-height)*2);
}
header nav > .main_menu > li ul li a{
    padding: 0 40px;
}
header .top_links{
    display: flex;
    gap: 30px;
    align-items: center;
}
header li a{
    color: var(--white);
    transition: 0.3s;
}
header li a:hover{
    color: var(--primary-c);
}
header .target{
    position: absolute;
    border-bottom: 4px solid var(--primary-c);
    transition: all .35s ease-in-out;
}
.logo a{
    width: 197px;
    height: 32px;
    background: url(../images/logo.png) no-repeat;
    display: block;
    text-indent: -9999em;
    z-index: 1;
}
footer{
    height: calc(var(--line-height)*6);
    background: var(--primary_bg);
}
footer .container{
    display: flex;
    justify-content: space-between;
}
footer .logo{
    margin-top: calc(var(--line-height)*2);
}
footer .footer_menu{
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--line-height)*2);
}
footer .footer_menu li{
    position: relative;
}
footer .footer_menu li:after{
    content:'';
    width:1px;
    height:10px;
    background: #4d4d4d;
    position: absolute;
    right:-20px;
    top:50%;
    transform:translateY(-50%);
}
footer .footer_menu li:last-child:after{
    background: none;
}