@import url(common.css);
/*메인슬라이드*/
.slide_wrapper{
    height: 100vh;
}
.slide{
    height: 100vh;
}
.slide > li{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
}
.slide > li:after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index:-1;
}
.slide #slide1{
    background-image: url(../images/mainslide3.png);
}
.slide #slide2{
    background-image: url(../images/mainslide6.png);
    background-position-y:20%;
}
.slide #slide3{
    background-image: url(../images/mainslide5.png);
    background-position: 0 0;
}
.slide li h2{
    position: absolute;
    top: 40%;
}
#slide1 h2{
    width: 462px;
    left: 15%;
}
#slide2 h2{
    right: 15%;
    color: #ebebeb;
}
#slide3 h2{
    left: 15%;
    color:#ebebeb;
}/*
#slide1 .inner_circle{
    position: absolute;
    right: 15%;
    width: 620px;
}*/
.slide_wrapper .controls a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 22px;
    height: 36px;
    background-repeat:no-repeat;
    text-indent: -9999em;
}
.slide_wrapper .bar_wrap{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 50px;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.bar_wrap .slideinfo_list{
    display: flex;
    gap: 15vw;
    bottom: 20px;
    white-space: nowrap;
}
.bar_wrap .slideinfo_list li{
    position: relative;
    opacity: 0.5;
}
.bar_wrap .slideinfo_list li.active{
    opacity: 1;
}
.bar_wrap .slideinfo_list li:after{
    content: '';
    position: absolute;
    width: 120px;
    height: 5px;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
}
.autoplay_btn{
    display: flex;
}
.scroll_down{
    position: absolute;
    left: 45%;
    top: 80%;
    display: flex;
}
.control .bx-controls a{
    width: 22px;
    height: 36px;
    background: no-repeat 0 0 / 100% 100%;
    /* display: inline-block; pos absoulte로 하면 크기가 잡히므로 없애도됨*/
    text-indent: -9999em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.control .bx-controls .bx-prev{
    background-image: url(../images/chevron\ left.png);
    right: 87%;
}
.control .bx-controls .bx-next{
    background-image: url(../images/chervron\ right.png);
    left: 87%;
}
.autoplay_btn.active .play{
    display: block;
}
.autoplay_btn.active .stop{
    display: none;
}
.autoplay_btn .play{
    display: none;
}
.inner_circle{
    position: absolute;
    width: 630px;
    height: 630px;
    left: 45%;
    top: 20%;
}
.inner_circle li{
    display: flex;
}
.inner_circle:before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: url(../images/sm_circle.png) no-repeat;
    left: 1.5%;
    top: 2.5%;
    z-index: 0;
    animation: move 10s linear infinite forwards;
    transform-origin: 50% 50%;
}   
@keyframes move {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.inner_circle:after{
    content: '';
    /* position: absolute; */
    width: 550px;
    height: 550px;
    background: url(../images/bg_circle.png) no-repeat;
    top: -1%;
    left: -2%;
    animation: moving 10s linear infinite forwards;
    transform-origin: 50% 50%;
}
@keyframes moving{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.inner_circle li{
    position: absolute;
    background: var(--white);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5%;
    transition:all 0.5s;
}
.inner_circle li:first-child{
    left: 0;
    top: 8%;
}
.inner_circle li:nth-child(2){
    left: 30%;
    top: 68%;
}
.inner_circle li:nth-child(3){
    left: 65%;
    top: 8%;
}
.inner_circle li span:first-child{
    font-size: 50px;
}
.inner_circle li:hover{
    background: linear-gradient(45deg, #8092af, #acf0eb);
    color: var(--white);
}
/*product*/
.product_bg{
    background: url(../images/product_bg.jpg) no-repeat center center/cover;
    position: relative;
    padding: var(--line-height) 0;
}
.product_bg> h2{
    margin-bottom: var(--line-height);
}
.product{
    display: flex;
    justify-content: center;
    position: relative;
}
.product .bx-wrapper{
    position: relative;
}
.product .slick-track > li a:first-child{
    display: block;
    border-radius: 30px;
    overflow: hidden;
    width: 270px;
    margin: 0 auto;
}
.product li img{
    border-radius: 30px;
    z-index: 2;
    transition: 0.3s;
}
.product li img:hover{
    transform: scale(1.1);
}
.product li h3{
    padding: var(--line-height) 0;
    transition: 0.3s;
}
.product li h3:after{
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: var(--body-tc);
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: var(--line-height);
    transition: 0.3s;
}
.product li:hover h3{
    color: var(--primary-c);
}
.product li:hover :after{
    background-color: var(--secondary-c);
}
/* .product .bx-wrapper .bx-viewport{
    overflow: visible;
} */
.product li h3{
    text-align: center;
    padding-top: var(--line-height);
    position: relative;
}

.product .slick-arrow{
    position: absolute;
    top:92%;
    left:50%;
    transform:translateX(-50%);
    z-index:5;
    text-indent:-9999em;
    width: 22px;
    height: 36px;
}
.product .slick-prev{
    margin-left: -150px;
    background:url(../images/left.png) no-repeat;
}
.product .slick-next{
    margin-left: 150px;
    background:url(../images/right.png) no-repeat;
}
.product .slick-dots{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 2%;
}
.product .slick-dots{
    display:flex;
    justify-content:center;
    gap: 15px;
    position:relative;
}
.product .slick-dots button{
    text-indent: -9999em;
    background: var(--white);
    width: 25px;
    height: 10px;
    border-radius: 15px;
}
.slick-dots .slick-active button{
    background: var(--body-tc);
}

.product .slick-arrow{
    display:none;
}
/*product_desc*/
.products_desc{
    margin-bottom: calc(var(--line-height)*5);
}
.product_desc h2{
    text-align: left;
}
.product_desc .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--line-height) 0;
}
.product_desc .product_summary{
    display: flex;
    gap: 25px;
    white-space: nowrap;
}
/* .product_desc .product_summary .content_desc{
    width: 525px;
} */
.product_desc .product_select{
    display: flex;
    gap: 25px;
    margin-bottom: var(--line-height);
}
/* .product_desc .btns{
} */
.product_desc .btns a:first-child{
    margin-right: 20px;
}
.ui-state-active, .ui-widget-content .ui-state-active{
    border: 1px solid #707070;
    background: #707070;
}




/*products tab*/
.products_desc .product_desc{
    display: none;
}
.product_desc .product_desc_con{
    display: flex;
    flex-direction: column;
    gap: var(--line-height);
}
.products_desc .product_desc.active{
    display: block;
}
.products_desc{
    position: relative;
}
.product_desc_img{
    overflow: hidden;
    position: relative;
}
.product_desc_img img{
    border-radius: 20px;
}
.product_desc_img:hover .sb{
    opacity: 1;
}




/*news*/
.business_news{
    background:url(../images/news_bg.jpg) no-repeat center/cover; 
    overflow: hidden;
}
.business_content{
    display: flex;
}
.business_content li{
    width: 33.33333%;
    position: relative;
}
.business_content  li:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    background: var(--primary_bg);
    width: 135px;
    height: 135px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}
.business_content  li:before{
    content: '';
    position: absolute;
    left: 65%;
    top: 20%;
    transform: translate(-50%,-50%);
    background: #a5a5a5;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}
.business_content  li:hover:after,
.business_content  li:hover:before{
    opacity: 1;
}
.business_content  h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: calc(var(--line-height)*2);
}
.news_slides ul{
    display: flex;
    justify-content: space-between;
}
.news_slides ul li{
    width: 32.1%;
    height: 32%;
}
/* .news_slides li{
    width: 416px;
    height: 405px;
} */
.news_slides li img{
    border-radius: 0 5%;
    width: 100%;
}
.news_slide01 li:nth-child(2),
.news_slide02 li:nth-child(2),
.news_slide03 li:nth-child(2){
    margin-top: calc(var(--line-height)*2);
}
.news_slides li{
    position: relative;
}
.news_slides li:before{
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    width: 0;
    height: 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    z-index: 1;
    transition: width 1.2s 1.2s,height 1.2s, 1.2s;
    opacity: 0;
}
.news_slides li span{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(73,70,70,0.8), rgba(26,159,146,0.8));
    opacity: 0;
    transition: 0.3s;
    color: #fff;
    border-radius: 0 5%;
}
.news_slides li:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 15px;
    bottom: 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    /* z-index: 1; */
    transition: width 0.8s 0.6s, height 0.8s, 0.6s;
    opacity: 0;
}
.news_slides li:hover span,
.news_slides li:hover:before,
.news_slides li:hover:after{
    opacity: 1;
    width: 100%;
    height: 100%;
}
.business_news .btn{
    border-color: var(--body-tc);
    transition: 0.3s;
    display: block;
    margin: var(--line-height) auto 0;
}
.business_news .btn:hover{
    border-color: var(--primary-c);
}

.news_slides div{
    display: none;
}
.new_slides div.active{
    display: block;
}

/*esg*/
.esg_list {
    display: flex;
    justify-content: space-between;
    height: 450px;
}
.esg_list > li{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}
.esg_list li > h2, .esg_list > li .esg_desc{
    opacity: 0;
    transition: 0.3s;
}
.esg_list > li h2{
    position: relative;
    background: rgba(225,225,225,0.9) no-repeat 50% 50%/cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    transition: 0.3s;
}
.esg_list > li h2:hover{
    background: var(--primary-c);
}
.esg_list > li:first-child{
    background: url(../images/environment\ img.png) no-repeat 40% 50%/cover;
    transition: flex 0.5s;
    flex: 1;
    overflow: hidden;
}
.esg_list > li:nth-child(2){
    background: url(../images/social\ img.png) no-repeat 55% 50%/cover;
    transition: flex 0.5s;
    flex: 1;
    overflow: hidden;
}
.esg_list > li:nth-child(3){
    background: url(../images/goverment\ img.png) no-repeat 55% 50%/cover;
    transition: flex 0.5s;
    flex: 1;
    overflow: hidden;
}
.esg_list > li:hover{
    flex:2;
    overflow: visible;
}
.esg_list > li:hover h2,
.esg_list > li:hover .esg_desc,
.esg_list > li:hover:after{
    opacity: 1;
}
.esg_list > li:hover h2,
.esg_list > li:hover .esg_desc{
    color: var(--white);
    z-index: 2;
}
.esg_list > li:after{
    content: '';
    position: absolute;
    background: rgba(0,0,0,.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}
/*esg slick 있을 때*/
.esg_list .slick-track{
    height: 100%;
}
.esg_list .slick-track > li{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 2vh;
    position: relative;
}
.esg_list .slick-track > li:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.5);
}
.esg_list .slick-track > li h2{
    opacity: 1;
}
.esg_list .slick-track > li *{
    z-index: 5;
}



.recruit{
    background: #f5f5f5;
}
.recruit h2{
    text-align: left;
}
.recruit_con{
    display: flex;
    align-items: center;
    gap: 5%;
    height: 400px;
}
.recruit_con .img_area{
    width: 850px;
    height: 400px;
    overflow: hidden;
    /* position: relative; */
}
.recruit_con .img_area li{
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}
.img_area #tabs-1{
    background: url(../images/bg_recruit_01.png) no-repeat 50%/cover;
}
.img_area #tabs-2{
    background: url(../images/bg_recruit_02.png) no-repeat 50%/cover;
}
.img_area li p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
    color: var(--white);
}
.img_area li:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition: 0.3s;
}
.img_area li:hover:before{
    left: 0;
}
.img_area li:hover:before,
.img_area li:hover p{
    opacity: 1;
}
.img_area a{
    display: block;
    height: 100%;
    width: 100%;
}
.text_area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.text_area li{
    position: relative;
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--line-height);
}
.text_area li a:first-child{
    display: flex;
    align-items: center;
    gap: var(--line-height);
    /* position: relative; */
}
.text_area li:after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 120%;
    background: var(--primary_bg);
    transition: all 0.3s;
}
.text_area li:hover:after{
    background: var(--body-tc);
}
.recruit_con .goBtn{
    opacity: 0;
    transition: 0.2s 0.2s;
}
.text_area li:hover .goBtn{
    opacity: 1;
}



.invest{
    background: url(../images/info_bg.jpg) no-repeat center/cover;
    position: relative;
    background-attachment: fixed;
    z-index: -5;
}
.invest:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: -5;
}
.invest_wrap{
    display: flex;
    justify-content: space-around;
    /* height: 300px; */
}
.invest_wrap > ul{
    width: 40%;
}
.invest_wrap .icon_area{
    display: flex;
    flex-direction: column;
    gap: var(--line-height);
}
.invest_wrap .icon_area li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary_bg);
    padding: var(--line-height) 0;
    border-radius: 5px;
    /* height: 33.3333%; */
    transition: 0.3s;
}
.invest_wrap .com_info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.invest_wrap .com_info h3{
    font-weight: 400;
}
.invest_wrap .com_info li{
    width: 50%;
}
.invest_wrap .com_info li span{
    font-weight: 500;
}

/*promotion*/

.promotion .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.promotion .letter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh;
}
.promotion .letter li{
    position: relative;
}
.promotion .letter li:after{
    /*content: '';*/
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background: var(--body-tc);
    transition:0.4s;
}
.promotion .letter li:hover:after{
    width: 100%;    
}
.promotion .letter li:nth-child(5){
    text-align: right;
}
/*top*/
.top{
    background: var(--primary-c);
    width: 70px;
    height: 50px;
    color: var(--white);
    text-align: center;
    font-size: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
}
.top.active{
    opacity: 1;
    visibility: visible;
}

/*sub page*/

/*vision page*/
.v_banner_wrap{
    background: url(../images/vision_bg1.png) no-repeat 50% 70%/cover;
    height: 100vh;
    position: relative;
    z-index: 2;
}
.v_banner_wrap:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    background: rgba(0,0,0,.5);
    z-index: -1;
}
.v_banner_wrap .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.v_banner_wrap .cell{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.partners{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.partners .img_wrap{
    width: 689px;
    height: 343px;
}
.partners .img_wrap img{
    width: 100%;
}

.vision_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.mission h2{
    text-align: center;
    position: relative;
}
.mission h2:after{
    content: '';
    position: absolute;
    bottom: -50%;
    left: 30%;
    background: var(--primary-c);
    width: 100px;
    height: 5px;
    transition: 1s ease-in-out;
}
.mission h2.active:after{
    left:50%;
    transform: translateX(-50%);
}
.mission_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mission_wrapper > div{
    width: 22%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
    position: relative;
    height: 378px;
}
.mission_front{
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.mission1_img{
    background: url(../images/mission1.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.mission2_img{
    background: url(../images/mission2.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.mission3_img{
    background: url(../images/mission3.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.mission4_img{
    background: url(../images/mission4.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.mission_back{
    position: absolute;
    left: 0;
    bottom: -100%;
    background: linear-gradient(45deg, #8092af, #acf0eb);
    height: 50%;
    border-radius: 10px;
    opacity: 0;
    transition: 0.4s;
    padding: 13%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.mission_wrapper > div:hover .mission_back{
    opacity: 1;
    bottom: 0;
}

/* -------------------------- COMPANY ---------------------------*/
.company_banner_wrap{
    height: 100vh;
    background: url(../images/company_bg1.png) no-repeat 0 0/cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.company_banner_wrap:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: -1;
}
.company_banner_wrap .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.active .company_banner_wrap .content h2{
    animation-name: fadeInUp;
    animation-delay: 0.2s;
}
.active .company_banner_wrap .content p{
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}
.title{
    background: var(--white);
}
.title.active h2{
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}

.value > div{
    height: 100vh;
    position: relative;
    z-index: 2;
}
.value > *:not(.title):after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: -1;
}
.value > h2{
    background: rgba(73,70,70,0.2);
    left: 0;right: 0;top: 0;bottom: 0;
    position: absolute;
    height: 100vh;
    z-index: -1;
}
.change{
    background: url(../images/change_bg.png) no-repeat 50%/cover;
}
.trust{
    background: url(../images/trust_bg.png) no-repeat 50%/cover;
}
.environ{
    background: url(../images/environ_bg.png) no-repeat 0 0/cover;
}
.value .contents{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trust .contents{
    flex-direction: row-reverse;
}
.value ul[class*="back"]{
    opacity: 0;
    transition: 0.3s;
}
.value div:hover ul[class*="back"]{
    opacity: 1;
}
.question{
    position: relative;
    /* display: flex;
    justify-content: center; */
}
.question h3{
    line-height: calc(var(--line-height)*2);
    padding-right:600px;
    border-bottom: 3px solid var(--body-tc);
}
.question span{
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}
.answer p{
    display: flex;
    justify-content: center;
}
.info_list{
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}
.info_list .ui-icon{
    display: none;
}
.info_list h3{
    position: relative;
}
.info_list .material-symbols-outlined{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: 0.2s;
    display: block;
}



/* -------------------------- CEO ---------------------------*/

.ceo_banner_wrap{
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/ceo_bg.png) no-repeat center 10%/cover;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.ceo_banner_wrap:after{
    content: '';
    position: absolute;
    background: rgba(0,0,0,.5);
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: -1;
}
.ceo_banner_wrap header{
    top: 0;
}
.active .ceo_banner_wrap .big_tt{
    animation-name: fadeInUp;
    animation-delay: 0.2s;
}
.active .ceo_banner_wrap .big_tt+p{
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}
.ceo_greeting{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: var(--line-height);
}
.greeting_content{
    background: #ebebeb;
    position: absolute;
    right: 10%;
    top: 33%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: transparent;
    border-radius: 10px;
    width: 565px;
}
.greeting_content .slick-prev{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -40px;
}
.greeting_content .slick-next{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 40px;
}
/*
.ceo_greeting:before{
    content: 'CEO GREETING';
    position: absolute;
    left: -15%;
    top: 31%;
    font-size: 90px;
    color: #ebebeb;
    transition:1.5s 1s cubic-bezier(.11,.24,.26,1);
}*/
.ceo_greeting img{
    border-radius: 10px;
}
.ceo2{
    display: flex;
    position: relative;
    justify-content: center
}
.profile_content{
    position: absolute;
    display: flex;
    gap: 20px;
    right: 3vh;
    top: 50%;
    background: #ebebeb;
    padding: 10px;
    border: transparent;
    border-radius: 10px;
}
/*
.profile_content:before{
    content: 'CEO PROFILE';
    position: absolute;
    left: 10%;
    top: -20%;
    font-size: 90px;
    color: #ebebeb;
    transition:1.5s 1s cubic-bezier(.11,.24,.26,1);
}*/
.cell ul{
    display: flex;
    white-space: nowrap;
    gap: 20px;
}
.ceo_background{
    background:silver;
}
.ceo1.active img{
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
}
.ceo2.active img{
    animation-name: fadeInRight;
    animation-delay: 0.3s;
}
/*ceo tab*/
/*
#profile{
    display:none;
}
*/
.result_banner_wrap{
    height: 100vh;
    background: url(../images/result_bg.png) no-repeat 0 0/cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}
.result_banner_wrap .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.tab-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    height: calc(var(--line-height)*3);
}
.tab-wrapper ul{
    display: flex;
    height: 100%;
}
.tab-wrapper ul li{
    width: 20%;
    position: relative;
    transition: 0.3s;
}
.tab-wrapper ul li a{
    color: var(--white);
    text-align: center;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.tab-wrapper ul li:hover{
    background: var(--secondary-c);
}
.chart-container { 
    width: 1000px;
    max-width: 80%;
    border-radius: 4px;
    margin: 0 auto;
}
table{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
table thead{
    text-align: left;
    border-bottom: 3px solid var(--primary-c);
    line-height: calc(var(--line-height)*2);
    background: #eee;
}
table tbody tr{
    border-bottom: 1px solid var(--black);
    line-height: calc(var(--line-height)*2);
    transition: 0.2s;
}
table tbody tr:hover{
    color: var(--primary-c);
}


/* -------------------------- LOCATION ---------------------------*/
.location_banner_wrap{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background: url(../images/location_bg.png) no-repeat 0 50%/cover;
}
.location_banner_wrap .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.location_banner_wrap .content h2,
.location_banner_wrap .content p{
    animation-delay: 0.3s;
}
.location_banner_wrap .tab-wrapper ul li{
    width:50%;
}
.location > div{
    text-align: center;
}
.location > div h3{
    border-bottom:2px solid var(--body-tc);
    line-height: calc(var(--line-height)*3);
    position: relative;
    transition: 0.3s;
}
.location > div h3 span{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}
.location > div h3:hover span{
    color: var(--primary-c);
}
.mapcontent h2{
    line-height: calc(var(--line-height)*3);
}
@media (max-width:1170px){
    .inner_circle{
        left: 58%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    #slide1 h2 {
        left: 60%;
        transform: translateX(-50%);
    }
    .inner_circle:after{
        opacity: 0;
    }
    .scroll_down{
       opacity: 0;
    }
    .ceo_greeting:before{
        content: none;
    }
}
@media (max-width:1300px){
    .ceo_greeting .greeting_content{
        width: 46vw;
    }
    .ceo_greeting:before{
        content: none;
    }
    .profile_content{
        top: 30%;
    }
    .ceo2 .profile_content{
        flex-direction: column;
    }
}
@media (max-width:960px){
    .product_desc .container{
        flex-direction: column;
        gap: var(--line-height);
    }
}
@media (max-width:922px){
    .control .slide #slide3{
        background-position: center;
    }
    .recruit .recruit_con{
        height: auto;
        flex-wrap: wrap;
        gap: 5vh;
    }
    .recruit_con .text_area{
        gap: 2.5vh;
    }
    .recruit .recruit_con .text_area li:after{
        content: none;
    }
    .recruit .recruit_con .goBtn {
        opacity: 1;
    }
    /*sub page*/

    /*vision page*/
    .mission_wrapper{
        gap: 4vw;
    }
    .mission_wrapper > div {
        width: 46%;
    }
}
@media (max-width:768px){
    .news_slides li span{
        position: static;
        opacity: 1;
        background: none;
        color: var(--black);
    }
    .main_tt{
        font-size: 5vw;
    }
    .main_sm_tt{
        font-size: 4vw;
    }
    .content_tt{
        font-size: 3vw;
    }
    .slideinfo_list .content_desc{
        font-size: 2vw;
    }
    .mission_wrapper > div .mission_back{
        display: none;
    }
    .esg_list > button{
        position: absolute;
        left: 50%;
        top: calc(100% + 15px);
        transform: translateX(-50%);
    }
    .esg_list > .slick-prev{
        margin-left: -40px;
    }
    .esg_list > .slick-next{
        margin-left: 40px;
    }
    /*subpage*/

    /*vision*/
    .partners .img_wrap {
        height: 49vw;
    }
    .vision_text p{
        font-size: 3vw;
    }
    .ceo2 img{
        width: 60vw;
    }
    .value ul[class*="back"] {
        opacity: 1;
        font-size: 2vw;
    }
}
@media (max-width:700px){
    .products_desc .product_desc_img:hover .sb{
        display: none;
    }
    .product_desc_img img{
        display: none;
    }
    .slideinfo_list a{
        font-size: 12px;
    }
    .inner_circle{
        display: none;
    }
    .video iframe{
        width: 80vw;
    }
    .control .bx-controls .bx-prev{
        right: 95%;
    }
    .control .bx-controls .bx-next{
        left: 95%;
    }
    table .dn{
        display:none;
    }
    .result_banner_wrap h2{
        font-size: 12vw;
    }

}
@media (max-width:570px){
    .com_info .small_tt{
        display: none;
    }
    header .container{
        justify-content: flex-start;
    }
    .bar_wrap .slideinfo_list li:after{
        width: 20vw;
    }
    #slide2 h2 {
        right: 6%;
    }
    .mission_wrapper > div{
        width: 100%;
        height: 25vh;
    }
}
@media (max-width:480px){
    .bx-controls-direction{
        display: none;
    }
    .product_slide > button{
        display: none;
    }
    .bar_wrap .slideinfo_list{
        gap: 6vw;
    }
    :root{
        --body-fz:10px;
    }
    .language{
        display: none;
    }
    header .top_links{
        gap: 10px;
    }
    #slide1 h2{
        left: 70%;
    }
    .product_desc .product_summary{
        gap: 10px;
    }
    .product_desc .product_select{
        gap: 10px;
    }
    .btn{
        width: 130px;
    }
    .footer_menu li:after{
        background: none;
    }
    .ceo2 #profile_img{
        width: 60vw;
    }
}
/*
@media (max-width:437px){
    .bar_wrap .slideinfo_list{
        gap: 6vw;
    }
    :root{
        --body-fz:10px;
    }
    .language{
        display: none;
    }
    header .top_links{
        gap: 10px;
    }
    #slide1 h2{
        left: 70%;
    }
    .product_desc .product_summary{
        gap: 10px;
    }
    .product_desc .product_select{
        gap: 10px;
    }
    .btn{
        width: 130px;
    }
    .footer_menu li:after{
        background: none;
    }

}    */
