@import url(common.css);
/*메인슬라이드*/
.slide_wrapper{
    height: 100vh;
}
.slide{
    height: 100vh;
}
/*
.slide_container{
    position: absolute;
    height: 100%;
    left: 0;
    transition: left 0.4s ease-out;
    display: flex;
}*/
.slide > li{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
}
.slide > li:after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index:-1;
}
.slide #slide1{
    background-image: url(../images/mainslide3.png);
}
.slide #slide2{
    background-image: url(../images/mainslide6.png);
    background-position-y:20%;
}
.slide #slide3{
    background-image: url(../images/mainslide5.png);
    background-position: 0 0;
}
.slide li h2{
    position: absolute;
    top: 40%;
}
#slide1 h2{
    width: 462px;
    left: 15%;
}
#slide2 h2{
    right: 15%;
    color: #ebebeb;
}
#slide3 h2{
    left: 15%;
    color:#ebebeb;
}/*
#slide1 .inner_circle{
    position: absolute;
    right: 15%;
    width: 620px;
}*/
.slide_wrapper .controls a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 22px;
    height: 36px;
    background-repeat:no-repeat;
    text-indent: -9999em;
}
.slide_wrapper .bar_wrap{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 100px;
    margin: 0 auto 50px;
    align-items: center;
}
.bar_wrap .bar_indicator{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 5px;
    background: #fff;
}
.bar_wrap .slideinfo_list{
    position: absolute;
    display: flex;
    gap: 200px;
    bottom: 20px;
}
.autoplay_btn{
    display: flex;
}
.scroll_down{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    display: flex;
}
.control .bx-controls a{
    width: 22px;
    height: 36px;
    background: no-repeat 0 0 / 100% 100%;
    /* display: inline-block; pos absoulte로 하면 크기가 잡히므로 없애도됨*/
    text-indent: -9999em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.control .bx-controls .bx-prev{
    background-image: url(../images/chevron\ left.png);
    right: 87%;
}
.control .bx-controls .bx-next{
    background-image: url(../images/chervron\ right.png);
    left: 87%;
}
.autoplay_btn.active .play{
    display: block;
}
.autoplay_btn.active .stop{
    display: none;
}
.autoplay_btn .play{
    display: none;
}
.inner_circle{
    position: absolute;
    width: 630px;
    height: 630px;
    left: 45%;
    margin-top: 9%;
}
.inner_circle li{
    display: flex;
}
.inner_circle:before{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: url(../images/sm_circle.png) no-repeat;
    left: 1.5%;
    top: 2.5%;
    z-index: 0;
    animation: move 10s linear infinite forwards;
    transform-origin: 50% 50%;
}   
@keyframes move {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.inner_circle:after{
    content: '';
    position: absolute;
    width: 550px;
    height: 550px;
    background: url(../images/bg_circle.png) no-repeat;
    top: -1%;
    left: -2%;
    animation: moving 10s linear infinite forwards;
    transform-origin: 50% 50%;
}
@keyframes moving{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.inner_circle li{
    position: absolute;
    background: var(--white);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5%;
    transition:all 0.5s;
}
.inner_circle li:first-child{
    left: 0;
    top: 8%;
}
.inner_circle li:nth-child(2){
    left: 30%;
    top: 68%;
}
.inner_circle li:nth-child(3){
    left: 65%;
    top: 8%;
}
.inner_circle li span:first-child{
    font-size: 50px;
}
.inner_circle li:hover{
    background: linear-gradient(45deg, #8092af, #acf0eb);
    color: var(--white);
}
/*product*/
.product_bg{
    background: url(../images/product_bg.jpg) no-repeat center center/cover;
    position: relative;
    padding: var(--line-height) 0;
}
.product_bg> h2{
    margin-bottom: var(--line-height);
}
.product{
    display: flex;
    justify-content: center;
}
.product .bx-wrapper{
    position: relative;
}
.product li{
    position: relative;
}
.product li img{
    border-radius: 30px;
    z-index: 2;
}
.product li h3{
    padding: var(--line-height) 0;
    transition: 0.3s;
}
.product li h3:after{
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: var(--body-tc);
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: var(--line-height);
    transition: 0.3s;
}
.product li:hover h3{
    color: var(--primary-c);
}
.product li:hover :after{
    background-color: var(--secondary-c);
}
.product .bx-wrapper .bx-viewport{
    overflow: visible;
}
.product li h3{
    text-align: center;
    padding-top: var(--line-height);
}
.product .bx-controls a{
    width: 22px;
    height: 36px;
    background: no-repeat 0 0 / 100% 100%;
    /* display: inline-block; pos absoulte로 하면 크기가 잡히므로 없애도됨*/
    text-indent: -9999em;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
}
.product .bx-controls .bx-prev{
    background-image: url(../images/product_chevron_left.png);
    left: 90%;
}
.product .bx-controls .bx-next{
    background-image: url(../images/product_chervron_right.png);
    left: 95%;
}



/*product_desc*/
.product_desc h2{
    text-align: left;
    padding-top: var(--line-height);
    margin-bottom: calc(var(--line-height)*2);
}
.product_desc .container{
    display: flex;
    justify-content: space-between;
}
.product_desc .product_summary{
    display: flex;
    gap: 25px;
    margin-bottom: calc(var(--line-height)*2);
}
.product_desc .product_summary .content_desc{
    width: 525px;
}
.product_desc .product_select{
    display: flex;
    gap: 25px;
    margin-bottom: calc(var(--line-height)*2);
}
.product_desc img{
    padding-top: calc(var(--line-height)*5);
}
.product_desc .btns{
    margin-bottom: var(--line-height);
}
.product_desc .btns a:first-child{
    margin-right: 20px;
}




/*products tab*/
.products_desc .product_desc{
    display: none;
}
.products_desc .product_desc.active{
    display: block;
}





/*news*/
.business_content ul{
    display: flex;
}
.business_content ul li{
    width: 33.33333%;
    position: relative;
}
.business_content ul li:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    background: var(--primary_bg);
    width: 135px;
    height: 135px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}
.business_content ul li:before{
    content: '';
    position: absolute;
    left: 65%;
    top: 20%;
    transform: translate(-50%,-50%);
    background: #a5a5a5;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}
.business_content ul li:hover:after,
.business_content ul li:hover:before{
    opacity: 1;
}
.business_news h2{
    margin-bottom: calc(var(--line-height)*2);
}
.business_content ul h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: calc(var(--line-height)*2);
}
.news_slides ul{
    display: flex;
    justify-content: space-between;
}
.news_slides li{
    width: 416px;
    height: 405px;
}
.news_slides li img{
    border-radius: 0 5%;
}
.news_slide01 li:nth-child(2),
.news_slide02 li:nth-child(2),
.news_slide03 li:nth-child(2){
    margin-top: calc(var(--line-height)*2);
}
.news_slides li{
    position: relative;
}
.news_slides li:before{
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px solid #fff;
    /* border-top: 1px solid #fff; */
    opacity: 0;
    z-index: 1;
    transition: 0.3s;
}
.news_slides li span{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(73,70,70,0.8), rgba(26,159,146,0.8));
    opacity: 0;
    transition: 0.3s;
    color: #fff;
    border-radius: 0 5%;
}
/*
.news_slides li:after{
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    opacity: 0;
    z-index: 1;
    transition: 0.3s;
}*/
.news_slides li:hover span,
.news_slides li:hover:before{
    opacity: 1;
}
.business_news .btn{
    border-color: var(--body-tc);
    transition: 0.3s;
    display: block;
    margin: var(--line-height) auto 0;
}
.business_news .btn:hover{
    border-color: var(--primary-c);
}

.news_slides div{
    display: none;
}
.new_slides div.active{
    display: block;
}

/*esg*/
.esg h2{
    margin-bottom: calc(var(--line-height)*2);
}
.esg_list {
    display: flex;
    justify-content: space-between;
    height: 50vh;
}
.esg_list li{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
}
.esg_list li h2, .esg_list li p{
    opacity: 0;
    transition: 0.3s;
}
.esg_list li h2{
    position: relative;
    background: rgba(225,225,225,0.9) no-repeat 50% 50%/cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    transition: 0.3s;
}

.esg_list li:first-child{
    background: url(../images/environment\ img.png) no-repeat 40% 50%/cover;
    transition: flex 0.5s;
    flex: 1;
    overflow: hidden;
}
.esg_list li:nth-child(2){
    background: url(../images/social\ img.png) no-repeat 55% 50%/cover;
    transition: flex 0.5s;
    flex: 1;
    overflow: hidden;
}
.esg_list li:nth-child(3){
    background: url(../images/goverment\ img.png) no-repeat 55% 50%/cover;
    transition: flex 0.5s;
    flex: 1;
    overflow: hidden;
}
.esg_list li p{
    padding: 0 5vw;
}
.esg_list li:hover{
    flex:2;
    overflow: visible;
}
.esg_list li:hover h2,
.esg_list li:hover p,
.esg_list li:hover:after{
    opacity: 1;
}
.esg_list li:hover h2,
.esg_list li:hover p{
    color: var(--white);
    z-index: 2;
}
.esg_list li:after{
    content: '';
    position: absolute;
    background: rgba(0,0,0,.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}



/*recruit*/
.recruit h2{
    margin-bottom: var(--line-height);
}
.recruit .animate{
    display: flex;
    justify-content: space-between;  
    font-size: calc(var(--line-height)*3);
    line-height: calc(var(--line-height)*3);
    font-style: italic;
}
.recruit_list{
    display: flex;
    justify-content: space-between;
    height: 40vh;
}
.recruit_list li{
    position:relative;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    transition: flex 0.4s;
    flex: 1;
    overflow: hidden;
    z-index: 1;
}
.recruit_list li:hover{
    flex:2;
    overflow:visible;
}
.recruit_list .recruit_item1{
    background: url(../images/bg_recruit_01.png) no-repeat center center/cover;
}
.recruit_list .recruit_item2{
    background: url(../images/bg_recruit_02.png) no-repeat center center/cover;
}
.recruit_list li:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition:0.3s;
    z-index: -1;
}
.recruit_list li > *{
    width: 23vw;
    margin-left: 3vw;
}
.recruit_list p{
    opacity: 0;
}
.recruit_list li:hover > *,
.recruit_list li:hover:after{
    opacity: 1;
}
.recruit_list li:hover > *{
    color: #fff;
    z-index: 2;
}



/*company info*/
.company_info{
    background: url(../images/info_bg.jpg) no-repeat center/cover;
    height: 35vh;
    position: relative;
    color: var(--white);
    position: relative;
}
.company_info:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
}
.company_info h2{
    position: relative;
    line-height: calc(var(--line-height)*3);
}
.company_info ul{
    display: flex;
}
.company_info ul li{
    width: 25%;
    text-align: center;
    position: relative;
}
.company_info ul li:after{
    content: '';
    position: absolute;
    left: 50%;
    top:calc(100% + 20px);
    transform: translateX(-50%);
    width: 20px;
    height: 3px;
    background-color: var(--white);
    transition: 0.3s;
}
.company_info ul li span{
    font-size: 50px;
    margin-bottom: var(--line-height);
}
.company_info ul li > *{
    transition: 0.3s;
}
.company_info ul li:hover span,
.company_info ul li:hover h4{
    color: var(--primary-c);
}
.company_info ul li:hover:after{
    background-color: var(--primary-c);
}
/*promotion*/

.promotion{
    display: flex;
    justify-content: space-around;
}
.promotion .letter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*top*/
.top{
    background: var(--secondary-c);
    width: 50px;
    height: 30px;
    color: var(--white);
    text-align: center;
    font-size: 30px;
}



/*vision page*/
.v_banner_wrap{
    background: url(../images/vision_bg1.png) no-repeat 50% 70%/cover;
    height: 100vh;
    position: relative;
    z-index: 2;
}
.v_banner_wrap:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    background: rgba(0,0,0,.5);
    z-index: -1;
}
.v_banner_wrap .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.v_banner_wrap h2{
    margin-bottom: calc(var(--line-height)*2);
}
.partners{
    display: flex;
    gap: 9vw;
}
.partners .img_wrap{
    position: relative;
    width: 689px;
    height: 343px;
}
.partners .img_wrap img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.vision_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.mission h2{
    text-align: center;
}
.mission_wrapper {
    display: flex;
    justify-content: space-between;
    height: 378px;
}
.mission_wrapper > div{
    width: 22%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
    position: relative;
}
.mission_front{
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.mission1_img{
    background: url(../images/mission1.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.mission2_img{
    background: url(../images/mission2.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.mission3_img{
    background: url(../images/mission3.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.mission4_img{
    background: url(../images/mission4.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.mission_back{
    position: absolute;
    left: 0;
    bottom: -100%;
    background: linear-gradient(45deg, #8092af, #acf0eb);
    height: 50%;
    border-radius: 10px;
    opacity: 0;
    transition: 0.4s;
    padding: 13%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.mission_wrapper > div:hover .mission_back{
    opacity: 1;
    bottom: 0;
}


/*회사 개요 */
.company_banner_wrap{
    height: 100vh;
    background: url(../images/company_bg1.png) no-repeat 0 0/cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.company_banner_wrap:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: -1;
}
.company_banner_wrap .content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.company_banner_wrap h2{
    margin-bottom: calc(var(--line-height)*2);
}
.value > div{
    height: 35vh;
    position: relative;
    z-index: 2;
}
.value > div:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: -1;
}
.change{
    background: url(../images/change_bg.png) no-repeat 50%/cover;
}
.trust{
    background: url(../images/trust_bg.png) no-repeat 50%/cover;
}
.environ{
    background: url(../images/environ_bg.png) no-repeat 0 0/cover;
}
.value .contents{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
}
.value .contents p{
    width: 50vw;
}
.trust .contents{
    flex-direction: row-reverse;
}
.value div[class*="back"]{
    opacity: 0;
    transition: 0.3s;
}
.value div:hover div[class*="back"]{
    opacity: 1;
}
.info_list h3{
    border-bottom: 1px solid var(--body-tc);
    line-height: calc(var(--line-height)*2);
    display: flex;
    align-items: center;
}

